/* src/styles/element-variables.module.scss */

/* 改变主题色变量 */
$--color-primary: #256DCB;
$--color-success: #7AC800;
$--color-danger: #EC4242;
$--color-info: #999999;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/* 如遇到导出的变量值为 undefined 则本文件名需要改成 element-variables.module.scss */
:export {
  theme: $--color-primary
}

